.w100{
    width: 50vw;
}
.t{
    display: flex;
  justify-content: end;
  margin-right: 100px;

}
.pts{
    display: flex;

}
.skybate{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .t{
        margin-right: 10px;
        font-size: xx-small;
        width: 100vw !important;
    }
    .skybate{
        align-self: center;
    }
    .pts{
        flex-direction: column;
        align-items: flex-end;
    }
}