<footer>
    <div class="container">
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
        <div class="contact-info">
            <p>HITEC City, Hyderabad, India</p>
            <p>Email: {{consts.infoMaiil}}</p>
            <p>Phone: {{consts.phone}}</p>
        </div>
       
    </div>
    <div class="pts">
      <div class="w100 skybate">
        <p (click)="makePayment()">&copy; 2024 Skybate Technologies private limited. All Rights Reserved.</p>
      </div>
       <div class="w100 t">
        <p class="pointer" routerLink="/privacy-policy">Privacy Policy&nbsp; &nbsp; </p> 
        <p class="pointer" routerLink="/terms-conditions">Terms & Conditions&nbsp; &nbsp;</p>
        <p class="pointer" routerLink="/security-policy">Security Policy&nbsp; &nbsp;</p>
        <p class="pointer" routerLink="/pricing-refund-policy">Pricing & Refund Policy</p>
       </div>
    </div>
    <div style="text-align: center;">
        The pricing of the products and services can range from INR 499 to INR 29999 excluding gst 

    </div>
</footer>