<footer>
    <div class="container">
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
        <div class="contact-info">
            <p>HITEC City, Hyderabad, India</p>
            <p>Email: {{emailid}}</p>
            <p>Phone: +91 9429693038</p>
        </div>
       
    </div>
    <div class="pts">
      <div class="w100 skybate">
        <p>&copy; 2024 Skybate Technologies. All Rights Reserved.</p>
      </div>
       <div class="w100 t">
        <p routerLink="/privacy-policy">Privacy Policy&nbsp; &nbsp; </p> 
        <p routerLink="/terms-conditions">Terms & Conditions&nbsp; &nbsp;</p>
        <p routerLink="/security-policy">Security Policy</p>
       </div>
    </div>
</footer>   