.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c34;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.menu-icon {
    display: none;
    z-index: 10;
}

.logo {
    z-index: 10;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        width: 200px;
        right: -200px;
        top: 0;
        bottom: 0;
        padding-top: 200px;
        transition: right 0.3s ease;
        background-color: #282c34;
        margin: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav.open {
        right: 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
