<header>
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <h1>SKYBATE TECHNOLOGIES</h1>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/home" href="">Home</a></li>
                <li><a routerLink="/about-us" href="">About Us</a></li>
                <li><a routerLink="/our-services" href="">Services</a></li>
                <li><a routerLink="/contact" href="">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>