<section id="home" class="hero">
    <div class="container">
        <h2>Innovative Solutions for Modern Businesses</h2>
        <p>Empowering your business with Technological Solutions</p>
        <a routerLink="/our-services" href="" class="btn">Learn More</a>
        <a routerLink="/contact" href="" class="btn">Get a Free Demo</a>
    </div>
    <img src="home.webp" alt="Home Image" style="display: none;">
</section>

<!-- Features Section -->
<section id="features" class="features">
    <div class="container">
        <h2>Why Choose Skybate?</h2>
        <div class="features-container">
            <div class="feature">
                <h3>Advanced Security</h3>
                <p>Robust security features to protect your business data.</p>
            </div>
            <div class="feature">
                <h3>User-Friendly Interface</h3>
                <p>Intuitive design that ensures ease of use for all staff.</p>
            </div>
            <div class="feature">
                <h3>Customizable Solutions</h3>
                <p>Tailored IT systems to meet your unique business needs.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <h2>Our Team</h2>
        <div class="portfolio-container">
            <div class="employee">
                <img src="sreekar.jpg" alt="Employee 1">
                <h3>Sreekar</h3>
                <p>Chairman</p>
            </div>
            <div class="employee">
                <img src="saarangg.jpg" alt="Employee 2">
                <h3>Saarangg</h3>
                <p>Full Stack Developer<br>Team Leader</p>
            </div>
            <div class="employee">
                <img src="mehar.jpg" alt="Employee 3">
                <h3>Meharunnisa</h3>
                <p>Full Stack Developer</p>
            </div>
            <div class="employee">
                <img src="Gnanika.jpg" alt="Employee 4">
                <h3>Gnanika</h3>
                <p>Flutter Developer</p>
            </div>
            <div class="employee">
                <img src="uma.jpg" alt="Employee 5">
                <h3>Uma Devi</h3>
                <p>Spring Boot Developer</p>
            </div>
            <div class="employee">
                <img src="manikanta.jpg" alt="Employee 7">
                <h3>Satya</h3>
                <p>Spring Boot Developer</p>
            </div>
           
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials">
    <div class="container">
        <h2>What Our Clients Say</h2>
        <div class="testimonials-container">
            <div class="testimonial">
                <p>"Skybate provided us with an IT system that has streamlined our operations. Highly recommend!"</p>
                <p>- Retail Store Owner</p>
            </div>
            <div class="testimonial">
                <p>"The team at Skybate is professional and very responsive. Our new IT system is fantastic!"</p>
                <p>- Restaurant Manager</p>
            </div>
        </div>
    </div>
</section>