
    <!-- About Us Section -->
    <section class="hero">
        <div class="container">
            <h2>About Us</h2>
            <p>Skybate is a forward-thinking technology company dedicated to providing innovative solutions for modern businesses. Our mission is to empower businesses with cutting-edge IT technology that enhances efficiency and drives growth.</p>
        </div>
    </section>

    <!-- Our Story Section -->
    <section class="features">
        <div class="container">
            <h2>Our Story</h2>
            <h5>Skybate has quickly established itself as a leader in the IT industry. Our team of experts is committed to delivering high-quality, user-friendly, and customizable solutions tailored to the unique needs of each client. We pride ourselves on our ability to stay ahead of the curve, continuously innovating and improving our offerings to meet the ever-evolving demands of the market.</h5>
        </div>
    </section>

    <!-- Our Team Section -->
    <section class="portfolio">
        <div class="container">
            <h2>Our Team</h2>
            <div class="portfolio-container">
                <div class="employee">
                    <img src="sreekar.jpg" alt="Sreekar Kondaveeti" class="zoomed-in">
                    <h3>Sreekar Kondaveeti</h3>
                    <p>Chairman</p>
                </div>
                <div class="employee">
                    <img src="saarangg.jpg" alt="Saarangg Rachamallu">
                    <h3>Saarangg Rachamallu</h3>
                    <p>Full Stack Developer<br>Team Leader</p>
                </div>
                <div class="employee">
                    <img src="mehar.jpg" alt="Meharunnisa Shaik">
                    <h3>Meharunnisa Shaik</h3>
                    <p>Full Stack Developer</p>
                </div>
                <div class="employee">
                    <img src="Gnanika.jpg" alt="Gnanika Sirikonda">
                    <h3>Gnanika Sirikonda</h3>
                    <p>Flutter Developer</p>
                </div>
                <div class="employee">
                    <img src="uma.jpg" alt="Uma Devi Vudumula">
                    <h3>Uma Devi Vudumula</h3>
                    <p>Spring Boot Developer</p>
                </div>
                <div class="employee">
                    <img src="manikanta.jpg" alt="Satya Manikanta">
                    <h3>Satya Manikanta</h3>
                    <p>Spring Boot Developer</p>
                </div>
              
            </div>
        </div>
    </section>